<div class="container">
    <div class="">
        <app-profile-form (searchUser)='performsearch($event)'></app-profile-form>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="">
                <div class="avatar mx-auto white">
                    <img src="{{profile.avatar_url}}" class="rounded-circle" alt="woman avatar">
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="">
                <div class="card-body">
                    <h4 class="card-title">{{profile.login}}</h4>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p> Followers-{{profile.followers}} </p>
                            <p> Following-{{profile.following}} </p>
                            <p> {{profile.repos}} </p>
                            <p> {{profile.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>